<div class="checkout-container">
  <% if @cart_items.to_a.length != 0 %>
    <%= button_to :Checkout, cart_path, method: :get, class: "button primary-button" %>
  <% end %>
</div>

<div class="items-conatiner">
  <%= render partial: "./components/menu_items", locals: { name: "Menu Items", menu_items: @menu_items } %>
  <%= render partial: "./components/cart_items", locals: { name: "Cart", items: @cart_items, total_amount: @total_amount } %>
<div>
